{% extends 'main_page.html' %}
{% load static %}

    {% block css %}
    <link href="{% static 'controlWork1Css/page5.css' %}" rel="stylesheet">
    {% endblock %}

    {% block content %}
    <div class='container mt-4'>
        <h1>Оформление заказа</h1>
        <hr>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {% if message.tags == 'success' %} 
                        <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger text-center">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="form-error text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Отправить заказ</button>
        </form>
    </div>
    {% endblock %}