{% extends 'main_page.html' %}
{% load static %}

    {% block css %}
    <link href="{% static 'controlWork1Css/page3.css' %}" rel="stylesheet">
    {% endblock %}

    {% block content %}
    <div class='container mt-4'>
        <h1>Все художники</h1>
        <hr>
        <nav class="nav nav-pills flex-column flex-sm-row justify-content-center custom-nav">
          <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="#banksy">Бэнкси</a>
          <a class="flex-sm-fill text-sm-center nav-link" href="#takashi">Такаси Мураками</a>
          <a class="flex-sm-fill text-sm-center nav-link" href="#hirst">Дэмиен Херст</a>
          <a class="flex-sm-fill text-sm-center nav-link" href="#famous_artists">Известные художники</a>
        </nav>
        <hr>
        <div class="container text-left">
          {% for p in painters %}
          <div class="row">
            <div class="col">
              <h2 id="{% if i.name == 'Бэнкси' %}banksy{% elif i.name == 'Такаси Мураками' %}takashi{% else %}hirst{% endif %}">{{p.name}}</h2>
              <p>
                {{p.info}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4>{{p.numbered_list_title}}</h4>
              <ol>
                {% for n in p.numbered_list_content_json %}
                <li>{{n}}</li>
                {% endfor %}
              </ol>
            </div>
            <div class="col">
              <h4>{{p.bulleted_list_title}}</h4>
              <ul>
                {% for n in p.bulleted_list_content_json %}
                <li>{{n}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row text-center">
            {% for img_obj in p.images.all %}
            <div class="col">
              <figure class="figure">
                <img src="{{img_obj.picture_url}}" class="figure-img rounded mx-auto d-block" alt="{{img_obj.caption}}">
                <figcaption class="figure-caption text-center">{{img_obj.caption}}</figcaption>
              </figure>
            </div>
            {% endfor %}
          </div>
          <hr>
          {% endfor %}
          <div class="row">
            <div class="col">
              <h4 id="famous_artists">Известные художники и их направления:</h4>
              <ol>
                {% for i in artists %}
                <li>{{i}}</li>
                <ul>
                  {% for n in i.artists_in_category.all %}
                  <li><b>{{n.name}} ({{n.years}})</b> - {{n.style}}</li>
                  <ul>
                    {% for m in n.works_of_artist.all %}
                    <li>{{m}}</li>
                    {% endfor %}
                  </ul>
                  {% endfor %}
                </ul>
                {% endfor %}
              </ol>
            </div>
            <div class="col">
              <img class="picture" src="{% static 'controlWork1Images/page3_shape1.png' %}">
            </div>
            <hr>
          </div>  
        </div>
    </div>
    {% endblock %}